@font-face {
   font-family: 'SpringTime Personal Use';
   src: url('SpringTime Personal Use/font.ttf');
}
@font-face {
   font-family: 'ABOVE  - PERSONAL USE ONLY';
   src: url('ABOVE  - PERSONAL USE ONLY/font.ttf');
}
